{% extends "base.html" %}
{% load static %}
{% block body %}



<div id="games" class="our">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Your Contribution..!</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 margin_bottom">

                    <div class="row">

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                            <div class="two-box">
                                <input type="file" name="poster"><br><h2>Update poster</h2>
                            </div>
                        </div>

                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">

                            <div class="Games">
                                <h3><input type="text" name="name" placeholder="Movie Name"></h3><br>
                                <h3><input type="text" name="year" placeholder="Release Date"></h3><br>
                                <h2><input type="text" name="disc" placeholder="Movie Description"></h2>

                                <input class="btn btn-waring" type="submit">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}